@use '../styles/main' as *;

.index {
  min-height: 100vh;
  
  &__container {
    padding-top: 32px ;
    padding-bottom: 32px ;
  }
  
  &__content {
    display: flex;
    gap: 48px;
  }
  
  &__main {
    flex: 1;
  }
}