@import '../styles/main.scss';

.index {
  min-height: 100vh;
  
  &__container {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
  }
  
  &__content {
    display: flex;
    gap: 48px;
  }
  
  &__main {
    flex: 1;
  }
}