@use '../../styles/main' as *;

.header {
  width: 100%;
  border-bottom: 1px solid $gray-light;
  background-color: $background-color;
  text-decoration: none;

  @media (max-width: 768px) {
    margin-top: 20px;
    height: 80px;
    border-bottom: none;
  }

  &__toolbar {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    justify-content: space-between;
  }

  &__title {
    margin-right: 2rem;
    font-weight: 700;
    color: $text-color ;
  }

  &__search {
    position: relative;
    flex-grow: 1;
    max-width: 550px;
    margin-right: 2rem;
    background-color: #F3F4F6;
    border-radius: 24px;
    padding: 5px 16px;
    display: flex;
    align-items: center;

    &-icon {
      color: $gray-medium;
      margin-right: 8px;
      font-size: 5px;
    }

    &-input {
      width: 100%;
      font-size: 10px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__add-button {
    background-color: $primary-color;
    color: white;
    text-transform: none;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 16px;

    &:hover {
      background-color: scale($primary-color, -10%);
    }

    @media (max-width: 768px) {
      padding: 8px 16px;
      font-size: 14px;
      
      span:not(.MuiButton-startIcon) {
        display: none;
      }
      
      .MuiButton-startIcon {
        margin-right: 0;
      }
    }

    @media (max-width: 480px) {
      padding: 8px;
      min-width: 0;
      border-radius: 50%;
    }
  }

  @media (max-width: 768px) {
    &__toolbar {
      padding: 8px 16px;
    }

    &__title {
      font-size: 20px;
      margin-right: 1rem;
    }
  }
}