@use '../styles/main' as *;

.category-nav {
  border-bottom: 1px solid $gray-light;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 12px 24px;
  
  &__container {
    display: inline-flex;
    gap: 12px;
  }
  
  &__button {
    padding: 6px 16px ;
    border-radius: 20px ;
    text-transform: none ;
    font-size: 14px ;
    color: $text-color ;
    min-width: auto ;
    
    &:hover {
      background-color: rgba($gray-light, 0.2) ;
    }
    
    &--active {
      background-color: $text-color ;
      color: white ;
      
      &:hover {
        background-color: scale($text-color, -5%) ;
      }
    }
  }
}